@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
  .bg-color{
    background-color: rgba(253, 150, 33, 0.1);
  }

  .navbar{
    justify-content: space-between;
    align-items: center;
    
  }

  #footer{
    height: 100px;
    text-align: center;
    align-content: center;
    padding: 10px;
  }

  .btn-nav{
    background-color: rgb(249, 150, 37);
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: .55rem;
    border-radius: 8px;
    border: none;

  }

 

  .btn-primary{
    background-color: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;

  }
  .banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .banner-image{
    width: 100%;
  }
  .banner-title{
    
    font-weight:700px;
    font-size: 4rem;
  }

  .brand{
    font-weight: bold ;
    font-size: 2.5rem;
  }
  .navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;

  }
  .nav-item{
    list-style: none;
    margin-right: 30px ;
  }
  .nav-link{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
   
  }

  .dark-2{
    color: #424242;

  }
  .dark-3{
    color: #727272;

  }

  .display-flex{
    display: flex;
 

  }



  main{
    max-width: 1440px;
    margin: 0 auto;
  }

  main > section {
    margin-top: 120px;
  }

  .teams{
    align-items: center;
    
  }

  .team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
  }

  .our-feature{
    margin-left: 70px;
    max-width: 530px;
  }

  .section-title{
    font-size: 2.8rem;
    font-weight: 700;
  }

  #feature-section-title{
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }


   .feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
   }

   .features{
    gap: 140px;
   }
  .feature-card .feature-title{
  font-weight: 600;
  font-size: 1.25rem;
  
}

  #quick-list{
    font-weight: normal;
  }
  .text-primary{
    color: rgb(255, 144, 14);
  }


  .facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  .fact-card{
    border:1px solid rgb(255, 144, 14);;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    text-align: center;
    align-items: center;
    
  }

  .fact-number{
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 5px;


  }
  .fact-name{
    font-size: 1.25rem;
    margin-top: 10px;

  }

  .fact-description{
    max-width: 540px;
  }


  .sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
  }

  .sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }
  /* .sponsors-companies img{ 
    filter: grayscale(100%);
  }
    */

    #experience-badge{
      padding: 45px 42px;
      margin-left: -100px;
      margin-top: -100px;

    }
    #experience-year{
      font-weight: bold;
      font-size: 4rem;
    }
    #experience-ex{
      font-size: 1.5rem;
      font-weight: 500;
    }

    .architectured-img img{
      width: 100%;
    }
  @media screen and (max-width: 576px){
    .navbar,.nav-links,.teams, .features{
      flex-direction: column;
    }
    .team-image-container,.facts-container,.sponsors-companies{
      grid-template-columns: repeat(1,1fr);
    }
  

    .team-image-container,.facts-container{
      justify-items: center;
      gap: 24px;

    }

   .nav-item{
    margin-bottom: 10px ;
    text-align: center;
   }
   
    .sponsors-companies{
      justify-items: center;
      gap: 50px;

    }
    #experience-badge{
     
      margin-left: 20px;
      margin-top: 20px;
      justify-items: center;}
  
  }

  @media screen and (min-width: 576px) and (max-width:992){
      .teams{
      flex-direction: column;
      margin: 50px auto;}
      .sponsors-companies{
        grid-template-columns: repeat(3,1fr);
        gap: 50px;
      }
      
    }